{% extends 'base.html' %}
{% block content %}

    <div class="container movie-details">
        <div class="container movie-detail-wrapper">
            <div class="row">
                <div class="col-md left-box" style="margin-right: 5%;">
                    <h1>{{ movie.title }}</h1>
                    <p>개봉연도: {{ movie.openDt }}</p>
                    <p>장르: {{ genre }}</p>
                    <!-- <p>조회수: {{ views_cnt }}</p> -->
                    <div class="star-rate-container">
                        {% if movie.star == 0 %}
                        <p>평점: 등록된 평점이 없습니다.</p>
                        {%else%}
                        <p>평점: {{ movie.star }} / 5</p>
                        {% endif %}
                        {% if star_rate %}
                        <div class="star-ratings-sprite"><span style="width:{{star_rate}}%" class="star-ratings-sprite-rating"></span></div>
                        {% endif %}
                    </div>

                    <div class="like-content">
                        <button class="btn-secondary like-review" data-movie_pk="{{ movie.pk }}">

                            <i class="fa fa-heart" aria-hidden="true"></i>
                            {% if movie in user.favorite_movies.all %}
                                찜한 영화
                            {% else %}
                                찜하기
                            {% endif %}


                        </button>
                    </div>
                </div>

                <div class="col-md-6 text-right" style="margin-left: 5%;">
                    <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/movies/{{ movie.title }}.jpg" alt="{{ movie.title }}" class="img-movie-poster">
                </div>
            </div>
        </div>

        <div class="chart-wrapper">
            <div class="gender-chart" style="height: 300px; width: 400px;">
                <canvas id='gender-chart'></canvas>
            </div>
            <div class="generation-chart" style="height: 300px; width: 400px;">
                <canvas id='generation-chart'></canvas>
            </div>
        </div>

        <div class="review-wrapper">
            {% if movie.reviews %}
            {% for review in movie.reviews.all %}                
                      
                <div class="row">
                    <div class="col-md-12">
                        <div class="media">
                            <div class="media-body">
                                <div class="review-content-container">
                                    <h5 class="mt-0"> {{ review.content }} </h5>
                                    {% if review.author == request.user %}
                                    <div class="btn-review-delete">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#reveiwDeleteModal">
                                            <span class="delete badge bg-danger">삭제</span>
                                        </a>
                                        <input type="hidden" id="review-id" value="{{review.id}}" >
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="fa fa-star-container" style="float: right;">
                                    <span class="fa fa-star {% if review.star > 0 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 1 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 2 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 3 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 4 %}checked{% endif %}"></span>
                                </div>
                                <span class="review-author"> {{ review.author.username }} </span>
                                <span class="review-created-date"> - {{ review.created_date }}</span>
                            </div>
                            
                            

                        </div>
                    </div>
                </div>
                <hr>

            {% endfor %}
            {% else %}
                <p class='movie-help-p'>아직 등록된 리뷰가 없습니다.</p>
            {% endif %}                                  
        </div>
                        
            <div class="review-container">
                <form class="review-form" action="{% url 'review:review_create' movie.id %}" method="POST">
                    {% csrf_token %}
                    <h2>리뷰를 작성해주세요!</h2>
                    <div class="rating">
                        <input name='review-star' id="e5" type="radio" value="5"></a><label for="e5">★</label>
                        <input name='review-star' id="e4" type="radio" value="4"></a><label for="e4">★</label>
                        <input name='review-star' id="e3" type="radio" value="3"></a><label for="e3">★</label>
                        <input name='review-star' id="e2" type="radio" value="2"></a><label for="e2">★</label>
                        <input name='review-star' id="e1" type="radio" value="1"></a><label for="e1">★</label>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" style="resize: none;" rows="3" placeholder="Your Reivew" name="review-content" id="review"></textarea>
                    </div>
                    <div class="review-submit-btn" >
                        <button type="submit" class="btn btn-danger">작성</button>
                    </div>

                </form>


            </div>
            <hr>
            <div class="recommend-movies-container" >
                <div class="recommend-movies">
                    <h2>회원님을 위한 추천영화</h2>
                    <div class="remv_wrapper">
                        <section id="remv_section1">
                            <a href="#remv_section2" class="remv_arrow__btn">‹</a>
                            {% for remv_movie in recommend_list|slice:":5" %}
                                <div class="remv_item">
                                    <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/movies/{{ remv_movie.title }}.jpg"
                                        alt="{{ remv_movie.title }}" title="{{ remv_movie.title }}" id="{{ remv_movie.id }}"
                                        onclick="select_movie_modal(this.title, this.id); view({{ user.id }},{{ remv_movie.id }},{{ remv_movie.genre }});">
                                </div>
                            {% endfor %}
                            <a href="#remv_section2" class="remv_arrow__btn">›</a>
                        </section>
                        <section id="remv_section2">
                            <a href="#remv_section1" class="remv_arrow__btn">‹</a>
                            {% for remv_movie in recommend_list|slice:"5:10" %}
                                <div class="remv_item">
                                    <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/movies/{{ remv_movie.title }}.jpg"
                                        alt="{{ remv_movie.title }}" title="{{ remv_movie.title }}" id="{{ remv_movie.id }}"
                                        onclick="select_movie_modal(this.title, this.id); view({{ user.id }},{{ remv_movie.id }},{{ remv_movie.genre }});">
                                </div>
                            {% endfor %}
                            <a href="#remv_section1" class="remv_arrow__btn">›</a>
                        </section>
                    </div>
                </div>
            </div>
    </div>




    <!-- 리뷰 삭제 Modal -->
    <div class="modal fade" id="reveiwDeleteModal" tabindex="-1" aria-labelledby="reveiwDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
            <p>리뷰를 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-primary" id="review-delete-btn">삭제</button>
            </div>
        </div>
        </div>
    </div>

    {% include 'main/detail.html' %}


{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>



<script>
    {% if generation_rate %}
    const generationCtx = document.getElementById('generation-chart').getContext('2d');
    const generationChart = new Chart(generationCtx, {
        type: 'bar',
        data: {
        labels: ['10대', '20대', '30대', '40대 이상'],
        datasets: [{
            label: '연령별 통계',
            data: {{ generation_rate  }},
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',           
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',            
            ],
            borderWidth: 1
        }]
    },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        },

    })
    {% endif %}
    
    {% if gender_rate %}
    const genderCtx = document.getElementById('gender-chart').getContext('2d');
    const genderChart = new Chart(genderCtx, {
        type: 'pie',
        data: {
        labels: ['남성', '여성'],
        datasets: [{
            label: '성별 통계',
            data: {{ gender_rate }},
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',           
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',            
            ],
            borderWidth: 1
        }]
    },       
    })
    {% endif %}

   

    
    



</script>

<script type='text/javascript'>
$(document).ready(function(){

        let review_id = $("#review-id").val();

        $("#review-delete-btn").on('click', function() {
            $.ajax({
            type: 'POST',            
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            url: `/moviedetail/reviews/${review_id}/delete/`,
            dataType: 'json',
            data : {'review_id':review_id},                        
            success: function(response){
                if (response['msg']){
                    window.location.reload();
                }
            }
            
        })
    })

    function view(user_id, mv_id, genre) {
            $.ajax({
                type: 'POST',
                url: `{% url 'view' %}`,
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                datatype: 'json',
                data: {
                    'user_id' : user_id,
                    'movie_id': mv_id,
                    'genre': genre
                },
                success: function (response){
                }
            });
        }
    function like_movie(e){

        $(e.target).children('.fa-heart').addClass('animate-like');
        movie_pk = e.target.dataset['movie_pk']
        $.ajax({
                type: 'GET',
                url: `{% url 'user:like_or_donlike' %}`,
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                data: {
                    'movie_pk':movie_pk
                },
                success: function (response){
                    if (response.remove){
                        alert('찜 목록에서 제거하였습니다. 🎬')
                        $(e.target).html('<i class="fa fa-heart" aria-hidden="true"></i> 찜하기');
                    }
                    else if (response.add){
                        alert('찜 목록에 추가하였습니다. 🎬')
                        $(e.target).html('<i class="fa fa-heart" aria-hidden="true"></i> 찜한 영화');
                    }
                }
            });

    }
    $(".like-review").on('click', like_movie)
    
   

})


</script>

{% endblock %}