{% extends 'base.html' %}
{% block content %}

    <div class="container movie-details">
        <div class="container movie-detail-wrapper">
            <div class="row">
                <div class="col-md left-box">
                    <h1>{{ movie.title }}</h1>
                    <p>개봉연도: {{ movie.openDt }}</p>
                    <p>장르: {{ movie.genre }}</p>
                    <!-- <p>조회수: {{ views_cnt }}</p> -->
                    {% if movie.star == 0 %}
                    <p>평점: 등록된 평점이 없습니다.</p>
                    {%else%}
                    <p>평점: {{ movie.star }} / 5</p>
                    {% endif %}
                    {% if star_rate %}
                    <div class="star-ratings-sprite"><span style="width:{{star_rate}}%" class="star-ratings-sprite-rating"></span></div>
                    {% endif %}
                    
                </div>
                <div class="col-md-6 text-center">
                    <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/movies/{{ movie.title }}.jpg" alt="{{ movie.title }}" class="img-movie-poster">
                </div>
            </div>
        </div>

        <div class="chart-wrapper">
            <div class="gender-chart">
                <canvas id='gender-chart'></canvas>
            </div>
            <div class="generation-chart">
                <canvas id='generation-chart'></canvas>
            </div>
        </div>

        <div class="review-wrapper">
            {% if movie.reviews %}
            {% for review in movie.reviews.all %}                
                      
                <div class="row">
                    <div class="col-md-12">
                        <div class="media">
                            <div class="media-body">
                                <h5 class="mt-0"> {{ review.content }} </h5>
                                <div class="fa fa-star-container" style="float: right;">
                                    <span class="fa fa-star {% if review.star > 0 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 1 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 2 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 3 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 4 %}checked{% endif %}"></span>
                                </div>
                                <span> {{ review.author.username }} </span>
                                <span> - {{ review.created_date }}</span>
                            </div>
                            
                            
                            {% if review.author == request.user %}
                                <div style="float: right">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#reveiwDeleteModal">
                                        <span class="delete badge bg-danger">삭제</span>
                                    </a>
                                    <input type="hidden" id="review-id" value="{{review.id}}" >
                                </div>                               
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                
            {% endfor %}
            {% else %}
                <p class='movie-help-p'>아직 등록된 리뷰가 없습니다.</p>
            {% endif %}                                  
                       
                        
            
            <form class="review-form" action="{% url 'review:review_create' movie.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="review-content" rows="3" placeholder="리뷰를 작성해주세요."></textarea>
                    <div class="rating rating2">
                        <div class="rating">                                                                   
                            <input name='review-star' id="e5" type="radio" value="5"></a><label for="e5">★</label>                           
                            <input name='review-star' id="e4" type="radio" value="4"></a><label for="e4">★</label>
                            <input name='review-star' id="e3" type="radio" value="3"></a><label for="e3">★</label>
                            <input name='review-star' id="e2" type="radio" value="2"></a><label for="e2">★</label>
                            <input name='review-star' id="e1" type="radio" value="1"></a><label for="e1">★</label>
                        </div>
                    </div>
                </div>
                                             
                <button type="submit" class="btn-primary">작성</button>                                
            </form>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="reveiwDeleteModal" tabindex="-1" aria-labelledby="reveiwDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">리뷰 삭제</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>리뷰를 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-primary" id="review-delete-btn">삭제</button>
            </div>
        </div>
        </div>
    </div>

{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>



<script>
    {% if generation_rate %}
    const generationCtx = document.getElementById('generation-chart').getContext('2d');
    const generationChart = new Chart(generationCtx, {
        type: 'bar',
        data: {
        labels: ['10대', '20대', '30대', '40대 이상'],
        datasets: [{
            label: '연령별 통계',
            data: {{ generation_rate | safe }},
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',           
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',            
            ],
            borderWidth: 1
        }]
    },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        },

    })
    {% endif %}
    
    {% if gender_rate %}
    const genderCtx = document.getElementById('gender-chart').getContext('2d');
    const genderChart = new Chart(genderCtx, {
        type: 'pie',
        data: {
        labels: ['남성', '여성'],
        datasets: [{
            label: '성별 통계',
            data: {{ gender_rate | safe}},
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',           
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',            
            ],
            borderWidth: 1
        }]
    },       
    })
    {% endif %}

   

    
    



</script>

<script type='text/javascript'>
$(document).ready(function(){

        let review_id = $("#review-id").val();

        $("#review-delete-btn").on('click', function() {
            $.ajax({
            type: 'POST',            
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            url: `/moviedetail/reviews/${review_id}/delete/`,
            dataType: 'json',
            data : {'review_id':review_id},                        
            success: function(response){
                if (response['msg']){
                    window.location.reload();
                }
            }
            
        })
    })
    


})
</script>

{% endblock %}