            {% if movie.reviews %}
            {% for review in movie.reviews.all %}

                <div class="chart-container">
                    <canvas id='gender-chart'></canvas>
                    <canvas id='generation-chart'></canvas>
                </div>

                      
                <div class="row">
                    <div class="col-md-12">
                        <div class="media">
                            <div class="media-body">
                                <h5 class="mt-0"> {{ review.content }} </h5>
                                <div class="fa fa-star-container" style="float: right;">
                                    <span class="fa fa-star {% if review.star > 0 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 1 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 2 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 3 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.star > 4 %}checked{% endif %}"></span>
                                </div>
                                <span> {{ review.author.username }} </span>
                                <span> - {{ review.created_data }}</span>
                            </div>
                            
                            
                            {% if review.author == request.user %}
                                <div style="float: right">
                                    <a href="{% url 'review_delete' review.id %}">
                                        <span class="badge bg-danger">삭제</span>
                                    </a>
                                </div>                               
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                
            {% endfor %}
            {% else %}
                <p class='movie-help-p'>아직 등록된 리뷰가 없습니다.</p>
            {% endif %}                                  
                       
                        
            
            <form class="review-form" action="#" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="review-content" rows="3" placeholder="리뷰를 작성해주세요."></textarea>
                </div>
                <div class="form-group">
                    <div class="rating rating2">
                        <div class="rating">                                                                   
                            <input name='review-star' id="e5" type="radio" value="5"></a><label for="e5">★</label>                           
                            <input name='review-star' id="e4" type="radio" value="4"></a><label for="e4">★</label>
                            <input name='review-star' id="e3" type="radio" value="3"></a><label for="e3">★</label>
                            <input name='review-star' id="e2" type="radio" value="2"></a><label for="e2">★</label>
                            <input name='review-star' id="e1" type="radio" value="1"></a><label for="e1">★</label>
                        </div>
                    </div>
                </div>                               
                <button type="submit" class="btn-primary">작성</button>                                
            </form>





{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" ></script>

<script>
    const generationCtx = $("#generation-chart");
    const generationChart = new Chart(generationCtx, {
        type: 'bar',
        data: generationData,
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        },

    })
    const generationData = {
        labels: ['10대', '20대', '30대', '40대 이상'],
        datasets: [{
            label: '연령별 통계',
            // data: {{ generation_rate | safe }},
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',           
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',            
            ],
            borderWidth: 1
        }]
    };
    
    const genderCtx = $("#generation-chart");
    const genderChart = new Chart(genderCtx, {
        type: 'pie',
        data: genderData,       
    })

    const genderData = {
        labels: ['남성', '여성'],
        datasets: [{
            label: '성별 통계',
            // data: {{ gender_rate | safe }},
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',           
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',            
            ],
            borderWidth: 1
        }]
    };
    



</script>





{% endscript %}