
<div class='detail-modal hidden'>

    <div class="modalBox">

        <div class="wrapper_modalBox">
            <div id="temp_detail">

            </div>

<!--
        <form class="review-form" method="POST">

            <div class="form-group">
                <textarea id = "review-content" name="review-content" rows="3" placeholder="리뷰를 작성해주세요."></textarea>
            </div>
            <div class="form-group">
                <div class="rating rating2">
                    <div class="rating">
                        <input name='review-star' id="e5" type="radio" value="5"></a><label for="e5">★</label>
                        <input name='review-star' id="e4" type="radio" value="4"></a><label for="e4">★</label>
                        <input name='review-star' id="e3" type="radio" value="3"></a><label for="e3">★</label>
                        <input name='review-star' id="e2" type="radio" value="2"></a><label for="e2">★</label>
                        <input name='review-star' id="e1" type="radio" value="1"></a><label for="e1">★</label>
                    </div>
                </div>

            </div>
            <button type="button" class="btn-primary" onclick="postReview()">작성</button>
        </form> -->
            <!-- Review 폼 -->

            <!-- 추천영화 -->
        <div class="btn-wrapper">


        </div>

        </div>
    </div>
</div>